doctype html
html
    head
        title MMOCC-JS Game-Client
        link(rel="stylesheet", href="index.css")
    body
        script(src="libraries/stats.min.js")
        script(src="libraries/pixi.min.js")
        script(src="index.js")