doctype html
html
    head
        title MMOCC-JS Game-Client
        link(rel="stylesheet", href="index.css")
    body(class="interface background")
        include interface/interface.jade

        script(src="libraries/pixi.min.js")
        script(src="index.js")