div(class="interface background")
    div(class="overlay", id="interface-overlay")

    include friendlist.jade
    include loader.jade
    include messenger.jade
    include navigator.jade
    include newroom.jade