div(class="window blue loader", id="window-loader")
    div(class="title")
        h1 Loading...

    div(class="content")
        div(class="progressbar")
            div(style="width: 75%;", id="window-loader-progress")

        div(class="status", id="window-loader-status") Initializing client...