div(class="window sidebar")
    div(class="content")
        div(class="sidebar-icon")
            h1 JS
        div(class="sidebar-arrow")

        div(class="sidebar-item sidebar-navigator", id="window-sidebar-navigator") Rooms
        div(class="sidebar-item sidebar-shop", id="window-sidebar-shop") Shop
        div(class="sidebar-item sidebar-inventory", id="window-sidebar-inventory") Inventory